/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    font-size:14px;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust:100%;
    height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    color: #337ab7;
    background: #e4f1fb;
}

.table-bordered,
.fixed-table-container tfoot > tr > th,
.fixed-table-container thead > tr > th {
    border: 1px solid #93d0ef;
    background: #d7ebf9;
    color: #337ab7;
}

.fixed-table-container tbody > tr > td {
    background: #fff;
    border: 0;
    color: #000;
}

.fixed-table-container tbody > tr {
    border-top: 1px solid #e1e1e1;
}

.fixed-table-container tbody .selected {
    background: #3baae3;
    color: #fff;
}

.specified-table table td { /*多出的文字显示省略号*/
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    font-size:14px;
    word-break:break-word;
}

    .specified-table table td:hover { /*鼠标经过时,显示全部被省略号代替的文字*/
        overflow: auto;
        white-space: pre-wrap; /*保留空白符序列，但是正常地进行换行。*/
    }

.pop-page-loader {
    position: fixed;
    display: inline-block;
    transition: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px #d7ebf9;
    border: 1px solid #d7ebf9;
    user-select: none;
    color: #3baae3;
    padding: 8px 12px;
    min-width: 80px;
    max-width: 50%;
    text-align: center;
}

.h-loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 20000;
}

.h-loading {
    position: absolute;
    z-index: 20001;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -24px;
    background-attachment: fixed;
    color: #3baae3;
}
